.banner {
  padding-top: 128px;
  @media screen and (max-width: 480px) {
    padding-top: 64px;
  }
  &__container {
    &-subtitle {
      text-align: center;
      text-transform: uppercase;
    }
    &-headline {
      text-align: center;
      margin: 8px auto 24px;
    }
    &-button {
      width: 190px;
      text-align: center;
      margin: 0 auto;
    }
  }
}