.filter {
  display: flex;
  margin: 32px 0;
  justify-content: space-between;
  &__category {
    &-name {
      text-transform: uppercase;
      margin-bottom: 12px;
      color: $myGrey;
    }
  }
}