.footer {
  margin: 50px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &-logo > img {
      height: 40px;
    }
    &-menu {
      text-align: right;
      border-left: 1px solid $lightGrey;
      padding-left: 20px;
    }
    &-menu a {
      margin-bottom: 14px;
    }
  }
}