.settings {
  &__type {
    display: flex;
    &-text {
      margin-right: 40px;
    }
  }
  &__filter {
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    background: $buttonBlue;
    border-radius: 29px;
    width: 116px;
    &-text {
      padding: 9px 0;
      color: white;
    }
    &-svg {
      width: 30px;
      height: 30px;
      padding: 10.5px;
      & svg {
        vertical-align: super;
        fill: white;
      }
    }
  }
}


